
Techstack/Pandas/.ipynb_checkpoints/Pandas_tutorial-checkpoint.ipynb
Techstack/Pandas/.ipynb_checkpoints/Kaggle_tutorial-checkpoint.ipynb
Techstack/Pandas/winemag-data-130k-v2.csv
Techstack/Pandas/animals.csv
